<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #000;">
    <a class="navbar-brand" href="/"><img src="/imgs/logo_epidemix_arte.png" 
    style="margin-left: 600px; 
    margin-top: 20px;" width="100px">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>

      <span style="margin-left: 400px;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <% if (typeof loggedOut === "undefined") { %>
              <a class="nav-link" href="/logout">Fazer logout</a>
        <%  } else { %>
          <a class="nav-link" href="/login">Fazer login</a>
        <% } %>
          </li>
        </ul>
      </span>
    </div>
    </div>
    <div class="col"></div>
  </nav>


<nav class="menu-lateral">

    <div class="btn-expandir">
      <i class="bi bi-list" id="btn-exp"></i>
    </div>
      <ul>
        <li class="item-menu ativo">
          <a href="#">
            <span class="icon"><i class="bi bi-house-door-fill"></i></span>
            <span class="txt-link">Home</span>
          </a>
        </li>

        <li class="item-menu">
          <a href="#">
            <span class="icon"><i class="bi bi-card-list"></i></span>
            <span class="txt-link">Registros</span>
          </a>
        </li>

        <li class="item-menu">
          <a href="#">
            <span class="icon"><i class="bi bi-phone"></i></span>
            <span class="txt-link">Celulares</span>
          </a>
        </li>

        <li class="item-menu">
          <a href="#">
            <span class="icon"><i class="bi bi-houses"></i></span>
            <span class="txt-link">Endereços</span>
          </a>
        </li>

        <li class="item-menu">
          <a href="#">
            <span class="icon"><i class="bi bi-people"></i></span>
            <span class="txt-link">Usuários</span>
          </a>
        </li>

        <li class="item-menu">
          <a href="#">
            <span class="icon"><i class="bi bi-hospital"></i></span>
            <span class="txt-link">Unidades</span>
          </a>
        </li>
      </ul>
    

</nav>

<script src="/JavaScript/js.js"></script>

<body style="background: linear-gradient(to bottom, #B00D0D, #440505);">