
<aside class="sidebar">
  <!-- sidebar-header -->
  <header class="sidebar-header">
    <a href="/" class="header-logo">
      <img src="/imgs/logo_epidemix_arte.png">
    </a>
    <button class="toggler sidebar-toggler">
      <span class="material-symbols-outlined">
        chevron_left
        </span>
    </button>
  </header>

  <nav class="sidebar-nav">
    <ul class="nav-list primary-nav">
      <li class="nav-item">
        <a href="/" class="nav-link">
          <span class="material-symbols-rounded"><i class="bi bi-house-door-fill"></i></span>
          <span class="nav-label">Home</span>
        </a>
        <span class="nav-tooltip">Home</span>
      </li>

      <li class="nav-item">
        <a href="/registros" class="nav-link">
          <span class="material-symbols-rounded"><i class="bi bi-clipboard"></i></span>
          <span class="nav-label">Registros</span>
        </a>
        <span class="nav-tooltip">Registros</span>
      </li>

      <li class="nav-item">
        <a href="/celulares" class="nav-link">
          <span class="material-symbols-rounded"><i class="bi bi-phone"></i></span>
          <span class="nav-label">Celulares</span>
        </a>
        <span class="nav-tooltip">Celulares</span>
      </li>

      <li class="nav-item">
        <a href="/enderecos" class="nav-link">
          <span class="material-symbols-rounded"><i class="bi bi-houses"></i></span>
          <span class="nav-label">Endereços</span>
        </a>
        <span class="nav-tooltip">Endereços</span>
      </li>

      <li class="nav-item">
        <a href="/unidades" class="nav-link">
          <span class="material-symbols-rounded"><i class="bi bi-hospital"></i></span>
          <span class="nav-label">Unidades</span>
        </a>
        <span class="nav-tooltip">Unidades</span>
      </li>

      <li class="nav-item">
        <a href="/usuarios" class="nav-link">
          <span class="material-symbols-rounded"><i class="bi bi-people"></i></span>
          <span class="nav-label">Usuarios</span>
        </a>
        <span class="nav-tooltip">Usuarios</span>
      </li>      
    </ul>

    <ul class="nav-list secondary-nav">
      <li class="nav-item">
        
          <% if (typeof loggedOut === "undefined") { %>
            <a class="nav-link" href="/logout">
              <span class="nav-icon material-symbols-rounded"><i class="bi bi-box-arrow-right"></i></span>
              <span class="nav-label">Logout</span>
            </a>
            <span class="nav-tooltip">Logout</span>

        <%  } else { %>
        <a class="nav-link" href="/login">Fazer login</a>
        <% } %>
      </li>
    </ul>
  </nav>
</aside>

<script src="/JavaScript/js.js"></script>

<body style="background: linear-gradient(to bottom, #B00D0D, #440505);">