
<%- include ('partials/navbar.ejs') %>


<form class="main-login" action="/createUser" method="POST" >
    <div class="left-login">
       <div class="epidemix-animacao-full">
        <img src="/imgs/setaExterior.svg" class="seta">
        <img src="/imgs/LogoEpidemix.svg" class="logo-ani">
       </div>
    </div>
    <div class="right-login">
        <div class="card-login">
            <h1>CADASTRO</h1>
            <div class="textfield">
                <label for="usuario">E-mail</label>
                <input type="email" name="email" placeholder="email@epidemix.com" required>
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" name="password" placeholder="Insira sua senha" required>
            </div>
            <button class="btn-login" type="submit">Cadastro</button>
            <hr>
            <h6 class="txt-possui-conta">Já possui uma conta? <a href="/login" class="cadastro-txt">Faça Login!</a></h6>
        </div>
    </div>
</form>

