<%- include ('partials/navbar.ejs') %>

<form class="main-login" action="/authenticate" method="POST" >
    <div class="left-login">
        <h1>Faça login<br>E entre para o Epidemix</h1>
       <div class="epidemix-animacao-full">
        <img src="/imgs/seta.svg" class="seta">
        <img src="/imgs/Logo_Epidemix_ani.svg" class="logo-ani">
       </div>
        
    </div>
    <div class="right-login">
        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario">E-mail</label>
                <input type="email" name="email" placeholder="email@exemplo.com" required>
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" name="password" placeholder="Insira sua senha" required>
            </div>
            <button class="btn-login" type="submit">Login</button>
        </div>
    </div>
</form>



