

main {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(45deg, #1e1e1e, #2b2a2a);
}

.full-login {
    background: linear-gradient( to bottom, #B00D0D, #440505);
}

#logo_login {
    margin-left: 39px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 145px;
    width: 155px;
}

.btn_login {
    width: 250px;
    height: 35px;
    background-color: #4CAF50;
    border-radius: 0;
    border: none;
    color: #FFF;
}

.btn_login:hover {
    background-color: #39833b;
}

.mapBox {
    position: relative;
    width: 800px;
    height: 700px;
    margin-top: 300px;
    margin-left: 20px;
    background-color: #FFF;
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}

.alinhar {
    display: flex !important;
    justify-content: center !important;
    
}

.row-edit {
    padding-left: 10px;
    padding-right: 10px;
}

.row-delete {
    padding-left: 10px;
    padding-right: 10px;
}

.row-endereco {
    padding-left: 10px;
    padding-right: 10px;
}

.row-cpf {
    padding-left: 10px;
    padding-right: 10px;
}

.row-nome {
    padding-left: 10px;
    padding-right: 10px;
}




.row-numero-ped {
    padding-left: 40px;
    padding-right: 40px;
}

.row-valor-ped {
    padding-left: 10px;
    padding-right: 10px;
}



.row-categ {
    padding-left: 25px;
    padding-right: 25px;
}