.full-login {
    background: linear-gradient( to bottom, #b00d0d, #440505);
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #440505d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 5px;
}

.left-login > h1 {
    color: #ffffff;
    margin-left: 50px;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px 35px 30px;
    background: #8f0b0bda;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #ebebeb;
    font-weight: 500;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #b90d0d60 ;
    color: #FFF;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #FFF;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}


.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #d1cecee1;
    background: #ca0d0dbb;
    box-shadow: 0px 10px 40px -12px #440505;
}


.logo-ani {
    width: 600px;
    height: 600px;
    margin-left: 200px;
}

.seta {
    position: absolute;
    width: 160px;
    height: 160px;
    margin-top: 220px;
    margin-left: 640px;
    transform: translateY(-0%) rotate(0deg);
    animation: 5s radarAnim;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:center ;
    z-index: 1;
}

@keyframes radarAnim {
    from {
        transform: translateY(-0%) rotate(0deg);
    }
    to {
        transform: translateY(-0%) rotate(360deg);
    }
}

.epidemix-animacao-full {
    width: 40vw;
}

@media only screen and (max-width: 1621px) {
    .main-login {
        justify-content: center;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .epidemix-animacao-full {
        width: 130vw;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .epidemix-animacao-full {
        width: 130vw;
    }
}



main {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(45deg, #1e1e1e, #2b2a2a);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.nav-index {
    width: 1903px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 60px;
    font-weight: 500;
    gap: 20px;
}



.mapBox {
    position: relative;
    width: 1200px;
    height: 700px;
    margin-top: 300px;
    margin-left: 20px;
    background-color: #FFF;
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}

.alinhar {
    display: flex !important;
    justify-content: center !important;
    
}

.row-edit {
    padding-left: 10px;
    padding-right: 10px;
}

.row-delete {
    padding-left: 10px;
    padding-right: 10px;
}

.row-endereco {
    padding-left: 10px;
    padding-right: 10px;
}

.row-cpf {
    padding-left: 10px;
    padding-right: 10px;
}

.row-nome {
    padding-left: 10px;
    padding-right: 10px;
}


.row-numero-ped {
    padding-left: 40px;
    padding-right: 40px;
}

.row-valor-ped {
    padding-left: 10px;
    padding-right: 10px;
}

.row-categ {
    padding-left: 25px;
    padding-right: 25px;
}



.sidebar {
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    background-color: #1e1e1e;
    height: calc(100vh - 32px);
    top: 7px;
    bottom: 100px;
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}


.sidebar-header {
    position: relative;
    display: flex;
    padding: 25px 20px ;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header .header-logo img {
    width: 51px;
    height: 48px;
    object-fit: contain;
}

.sidebar-header .toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler span {
    transform: rotate(180deg) ;
}

.sidebar-header .toggler {
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px ;
    border: none;
    color: #151A2D;
    display: flex;
    align-items: center;
    justify-content:center ;
    cursor: pointer;
    border-radius: 8px;
    background: #FFF;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler {
    transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
    background: #dde4fb;
}

.sidebar-header .toggler span {
    font-size: 1.75rem;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed  .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-link {
    color: #FFF;
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
    padding: 12px 15px;
    transition: 0.4s ease;
}

.sidebar-nav .nav-link:hover {
    color: #151a2d;
    background: #FFF;
}


.sidebar-nav .nav-link .nav-label {
    transition: opacity 0.4s ease ;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .nav-tooltip {
    position: absolute;
    top: -10px;
    opacity: 0;
    display: none;
    pointer-events:none ;
    left: calc(100% + 25px);
    color: #151A2D;
    padding: 6px 12px;
    border-radius: 8px;
    background: #FFF;
    white-space: nowrap;
    box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.1);
    transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    opacity: 1;
    pointer-events:auto ;
    transform: translateY(50%);
    transition: 0.7s ease;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.cadastro-txt {
    color: #FFF;
}

.txt-possui-conta {
    color: #000;
}



#map {
    margin-top: 400px;
    height: 800px;
    width: 1100px;
    background: #ddd;
}