

main {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(45deg, #1e1e1e, #2b2a2a);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-login {
    background: linear-gradient( to bottom, #B00D0D, #440505);
}

#logo_login {
    margin-left: 39px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 145px;
    width: 155px;
}

.btn_login {
    width: 250px;
    height: 35px;
    background-color: #4CAF50;
    border-radius: 0;
    border: none;
    color: #FFF;
}

.btn_login:hover {
    background-color: #39833b;
}

.mapBox {
    position: relative;
    width: 800px;
    height: 700px;
    margin-top: 300px;
    margin-left: 20px;
    background-color: #FFF;
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}

.alinhar {
    display: flex !important;
    justify-content: center !important;
    
}

.row-edit {
    padding-left: 10px;
    padding-right: 10px;
}

.row-delete {
    padding-left: 10px;
    padding-right: 10px;
}

.row-endereco {
    padding-left: 10px;
    padding-right: 10px;
}

.row-cpf {
    padding-left: 10px;
    padding-right: 10px;
}

.row-nome {
    padding-left: 10px;
    padding-right: 10px;
}


.row-numero-ped {
    padding-left: 40px;
    padding-right: 40px;
}

.row-valor-ped {
    padding-left: 10px;
    padding-right: 10px;
}

.row-categ {
    padding-left: 25px;
    padding-right: 25px;
}

nav.menu-lateral {
    width: 90px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 0;
    box-shadow: 3px 0 0 #FFF;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left:20px ;
}

.btn-expandir > i {
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #B00D0D;
}

ul li.item-menu:hover {
    background-color: #B00D0D;
}

ul li.item-menu a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;

}

ul li.item-menu a .icon > i {
    font-size: 30px;
}

